html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', Verdana, sans-serif;

}

.promo-logo {
    background-image: url(./img/svg/promo.svg);
    width: 642px;
    height: 495px;
    display: inline-block;
}